.header__block {
  width: 100vw;
  height: 3rem;
  background: green;
}

.header__links {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.header__links a {
  color: white;
  text-decoration: none;
}
